.advantages__text {
  background-color: @colorBlue;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  padding-top: 45px;
  padding-right: 20px;
  padding-left: 20px;
}

.advantages__title {
  .title();
  margin-top: 0;
  margin-bottom: 20px;
  line-height: 14px;
}

.advantages__number {
  margin: 0;
  line-height: 14px;
}

.advantages__description {
  line-height: 21px;
  padding-right: 15px;
  padding-bottom: 45px;
  padding-left: 15px;
  margin-top: 26px;
  margin-bottom: 0;
}

.advantages__items {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.advantages__text--background-gray {
  background-color: @colorGrey;
  color: #000;
}

.advantages__items .advantages__description {
  border-bottom: 2px solid #d6d6d6;
}

.advantages__items .advantages__description--none-border {
  border-bottom: none;
}
