.form__title {
  .title();
  text-align: center;
  text-transform: uppercase;
  line-height: 18px;
}

.sideMargins() {
  margin-right: 20px;
  margin-left: 20px;
}

.form__personality {
  .sideMargins();
  margin-bottom: 70px;
}

.form__personality-label {
  text-transform: uppercase;
  display: block;
  margin-top: 50px;
  line-height: 14px;
}

.form__personality-input {
  margin-left: 25px;
  border: transparent;
}
/*
.placeholder() {
  ::-webkit-input-placeholder { font-width: 800; }
  :-moz-placeholder { font-width: 800; }
  ::-moz-placeholder { font-width: 800; }
  :-ms-input-placeholder { font-width: 800; }
}

.personality__input {
  .placeholder();
}
*/

.form__contacts {
  .sideMargins();
  margin-bottom: 75px;
}

.form__contacts-label {
  margin-top: 35px;
  margin-left: 20px;
  display: block;
  text-transform: uppercase;
  line-height: 14px;
}

.form__contacts-input {
  display: block;
  border: transparent;
  margin-top: 30px;
}

.form__impression, .form__attractions, .form__emotions {
  .sideMargins();
  margin-bottom: 75px;
}

.form__impression-label, .form__attractions-label {
  display: block;
  font-weight: 800;
  margin-top: 55px;
  padding-left: 80px;
  line-height: 14px;
}

.form__emotions-text {
  display: block;
  width: 280px;
  height: 115px;
  margin-top: 55px;
  border: transparent;
  resize: none;
}

.form__placeholder {
  display: none;
  line-height: 14px;
}

.form .button {
  .sideMargins();
  width: 280px;
}
