.form {
  .formSideMargins();
}

.form__title {
  .title();
  text-align: center;
  text-transform: uppercase;
  line-height: 18px;
  margin-bottom: 35px;
}

.form__personality {
  margin-bottom: 70px;
}

.form__personality-label {
  text-transform: uppercase;
  display: block;
  margin-top: 50px;
  line-height: 14px;
}

.form__personality-input,
.form__contacts-input,
.form__emotions-text{
  .placeholder({
    font-weight: 800;
    color: #000;
  })
}

.form__personality-input {
  margin-left: 25px;
  border: transparent;
}

.form__contacts {
  .formSideMargins();
}

.form__contacts-label {
  margin-top: 20px;
  margin-left: 22px;
  text-transform: uppercase;
  line-height: 14px;
  display: block;
}

.form__personality-label {
  color: @colorText;
  display: flex;
  align-items: center;
}

.form__contacts-input,
.form__personality-input {
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 22px;
  background-color: @bgInput;
}

.form__personality-input {
  flex-grow: 1;
}

.form__contacts-input {
  border: transparent;
  margin-top: 15px;
  width: 100%;
}

.form__impression,
.form__attractions,
.form__emotions {
  .formSideMargins();
  margin-bottom: 75px;
}

.form__impression-label,
.form__attractions-label {
  display: block;
  font-weight: 800;
  margin-top: 55px;
  padding-left: 80px;
  line-height: 14px;
  position: relative;
  cursor: pointer;
}

.form__attractions-label {
  position: relative;
  cursor: pointer;
  padding-left: 80px;
}

.form__attractions-label::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 0;
  width: 55px;
  height: 55px;
  background-color: @bgInput;
  border-radius: 5%;
}

.form__attractions-input:checked + label::after {
  content: url("../img/icon-tick.svg");
  position: absolute;
  top: -2px;
  left: 16px;
}

.form__impression-label {
  padding-left: 80px;
}

.form__impression-label::before,
.form__impression-input:checked + label::after {
  content: "";
  position: absolute;
  border-radius: 50%;
}

.form__impression-label::before {
  top: -20px;
  left: 2px;
  width: 55px;
  height: 55px;
  background-color: @bgInput;
}

.form__impression-input:checked + label::after {
  top: -3px;
  left: 18px;
  width: 22px;
  height: 22px;
  background-color: #363636;
}

.form__emotions-text {
  display: block;
  width: 100%;
  height: 160px;
  margin-top: 55px;
  padding-top: 22px;
  padding-left: 22px;
  border: transparent;
  resize: none;
  background-color: @bgInput;
}

.form__placeholder {
  display: none;
  line-height: 14px;
}

.form .button {
  .formSideMargins();
  width: 280px;
}

@media screen and (min-width: 768px) {
  .form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .photoSideTablet();
  }

  .form__title {
    font-size: @fontSize + 7px;
  }

  .form__impression {
    order: -1;
  }

  .form__contacts,
  .form__attractions,
  .form__emotions {
    width: 100%;
  }

  .form__personality .form__title,
  .form__impression .form__title {
    text-align: left;
  }

  .form__impression .form__title {
    margin-bottom: 86px;
  }

  .form__personality .form__title {
    margin-bottom: 68px;
  }

  .form__impression-label {
    margin-top: 70px;
  }

  .form__personality-label {
    margin-top: 20px;
  }

  .form__attractions-wrapper {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .form__attractions-item {
    flex-basis: 50%;
  }

  .form__placeholder {
    display: block;
    text-transform: uppercase;
  }

  .form__button-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}

@media screen and (min-width: 1280px) {
  .form {
    .photoSideDesktop();
  }

  .form__impression .form__title {
    padding-left: 80px;
  }

  .form__personality {
    width: 400px;
  }

  .form__contacts-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .form__contacts-item {
    display: flex;
    align-items: center;
  }

  .form__contacts-input {
    width: 320px;
  }

  .form__contacts-label {
    margin-right: 15px;
  }

  .form__attractions-wrapper {
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .form__attractions-item {
    width: 204px;
  }

  .form__title--decor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 26px;
  }

  .form__title--decor {
    .decorTitle();
  }
}
