.hotel-selection {
  margin-top: 35px;
  margin-bottom: 50px;
  padding: 0 20px;
  text-align: center;
  text-transform: uppercase;
}

.hotel-selection__title {
  font-size: @fontSize + 7px;
  font-weight: 800;
}

.hotel-selection__description {
  margin-top: 32px;
  margin-bottom: 42px;
  padding: 0 9px;
  line-height: 24px;
}

