.main-photo {
  margin-right: 20px;
  margin-bottom: 46px;
  margin-left: 20px;
  font-size: 0;
}

.main-photo__description {
  font-size: @fontSize;
}

.main-photo__title {
  text-transform: uppercase;
  font-weight: 800;
  margin-top: 21px;
  margin-bottom: 15px;
  line-height: 14px;
}

.main-photo__author {
  line-height: 14px;
}

.main-photo__likes {
  display: flex;
  align-items: center;
}

.main-photo__number {
  margin-left: 14px;
  font-weight: 800;
  line-height: 14px;
}

@media screen and (min-width: 768px) {
  .main-photo {
    .photoSideTablet();
    position: relative;
  }

  .main-photo__title {
    font-size: @fontSize;
    margin-top: 0;
  }

  .main-photo__description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 20px;
    background-color: #f2f2f2;
  }

  .main-photo__author {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1280px) {
  .main-photo {
    .photoSideDesktop();
  }

  .main-photo__description {
    position: absolute;
    bottom: 0;
    background-color: rgba(178, 178, 178, 0.3);
    color: #ffffff;
  }
}
