.nav {
  position: relative;
  .title();
  background-color: @colorBlue;
  text-transform: uppercase;
}

.nav__list {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
}

.nav__item {
  border-bottom: 1px solid #7490a8;
  padding: 20px;
}

.nav__link {
  color: #fff;
  line-height: 18px;
}

.nav__button {
  border: none;
  background-color: transparent;
  position: absolute;
  right: 20px;
}

.nav__close {
  top: 18px;
  fill: @colorIcon;
}

.nav__open {
  bottom: -45px;
  fill: @colorBlue;
}

.nav__logo {
  text-align: center;
  position: relative;
  z-index: 5;
}
