.recommendations {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.recommendations__item {
  padding-left: 71px;
  padding-right: 42px;
  text-transform: uppercase;
  position: relative;
}

.recommendations__title {
  .title();
  line-height: 18px;
}
/*
.recommendations__title--housing:before {
  content: url("../img/icon-house.svg");
  position: absolute;
  top: -15px;
  left: 21px;
}*/

.recommendations__description {
  line-height: 21px;
}

@media screen and (min-width: 768px) {
  .recommendations {
    display: flex;
    padding: 65px 0;
  }

  .recommendations__item {
    padding: 0 35px;
    text-align: center;
  }

  .recommendations__title {
    font-size: @fontSize + 7px;
  }

  .recommendations__item:nth-child(2) {
    order: 2;
  }

  .recommendations__description--food {
    padding: 0 25px;
  }
}
