.welcome {
  text-align: center;
  text-transform: uppercase;
  line-height: 26px;
  margin-top: -27px;
}

.welcome__title {
  .title();
  margin-top: 47px;
  margin-bottom: 43px;
  padding: 0 33px;
  line-height: 26px;
}

.welcome__text {
  margin-bottom: 35px;
  padding: 0 35px;
  line-height: 26px;
}

.welcome__text--photo {
  padding: 0 20px;
}

